* {
  font-family: "Itim", cursive;
  overflow-x: hidden;
}

.navbar-brand {
  font-size: 1.2rem;
  color: rgb(143, 140, 140);
  text-decoration: none;
}

.navbar-nav a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  text-shadow: rgb(238, 168, 103) 0.01em 0.01em 0.01em;
}

.nav-item {
  margin-right: 20px;
}

.nav-contact {
  border: 1px solid gray;
}

/* main-head */

body {
  background-color: rgb(34, 34, 34);
}

.contact {
  background-color: rgb(34, 34, 34);
  color: antiquewhite;
}

.contact table {
  margin: 3% 5px 3% 0;
}

.table a {
  text-decoration: none;
}

.table p {
  position: relative;
  left: 15%;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.1em;
}

.table h1 {
  position: relative;
  color: white;
  left: 20%;
  font-size: 50px;
  text-shadow: black 0.1em 0.1em 0.1em;
}

.table h2 {
  position: relative;
  left: 15%;
  font-size: 35px;
  color: antiquewhite;
  text-shadow: black 0.1em 0.1em 0.1em;
}

/* main-body */

.con-main {
  background-image: url(muted-dark.png);
  color: rgb(255, 255, 255);
}

.con-main1 {
  background-image: url(neutral-midtone.png);
  color: rgb(255, 255, 255);
}

.con-main2 {
  background-image: url(Midtone.png);
  color: rgb(255, 255, 255);
}

.con-main3 {
  background-image: url(neutral-midtone.png);
  color: rgb(255, 255, 255);
}

.main-body {
  margin: 0;
  background-color: rgb(34, 34, 34);
}

.main-body h1 {
  padding: 5% 5% 0;
  font-size: 50px;
  color: rgb(176, 141, 97);
  text-shadow: rgb(85, 85, 85) 0.1em 0.1em 0.1em;
}

.main-body p {
  padding: 0 5%;
  color: white;
  font-size: 20px;
  text-align: justify;
  padding-right: 50%;
}

#body {
  margin: 5% 20% 0;
}

.carousel-item {
  height: 600px;
  width: 500px;
}

/*  1. Tiwanon-Pakkret34 */

.carousel-image-1-1 {
  background-image: url(Content/1.บ้านติวานนท์-ปากเกร็ด34/1.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-2-1 {
  background-image: url(Content/1.บ้านติวานนท์-ปากเกร็ด34/3.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-3-1 {
  background-image: url(Content/1.บ้านติวานนท์-ปากเกร็ด34/4.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-4-1 {
  background-image: url(Content/1.บ้านติวานนท์-ปากเกร็ด34/5.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-5-1 {
  background-image: url(Content/1.บ้านติวานนท์-ปากเกร็ด34/6.JPG);
  background-size: cover;
  background-position: center;
}

/* .carousel-image-6-1 {
  background-image: url(Content/1.บ้านติวานนท์-ปากเกร็ด34/7.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-7-1 {
  background-image: url(Content/1.บ้านติวานนท์-ปากเกร็ด34/8.JPG);
  background-size: cover;
  background-position: center;
}
 */

.carousel-image-8-1 {
  background-image: url(Content/1.บ้านติวานนท์-ปากเกร็ด34/9.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-9-1 {
  background-image: url(Content/1.บ้านติวานนท์-ปากเกร็ด34/10.JPG);
  background-size: cover;
  background-position: center;
}

/* 2. SaphanMai */

.carousel-image-1-2 {
  background-image: url(Content/2.สะพานใหม่/1.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-2-2 {
  background-image: url(Content/2.สะพานใหม่/2.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-3-2 {
  background-image: url(Content/2.สะพานใหม่/3.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-4-2 {
  background-image: url(Content/2.สะพานใหม่/4.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-5-2 {
  background-image: url(Content/2.สะพานใหม่/5.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-6-2 {
  background-image: url(Content/2.สะพานใหม่/6.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-7-2 {
  background-image: url(Content/2.สะพานใหม่/7.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-8-2 {
  background-image: url(Content/2.สะพานใหม่/8.jpg);
  background-size: cover;
  background-position: center;
}

/* 3. Phuket */

.carousel-image-1-3 {
  background-image: url(Content/3.ศูนย์แสดงโชร์สัตว์จ.ภูเก็ต/1.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-2-3 {
  background-image: url(Content/3.ศูนย์แสดงโชร์สัตว์จ.ภูเก็ต/2.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-3-3 {
  background-image: url(Content/3.ศูนย์แสดงโชร์สัตว์จ.ภูเก็ต/3.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-4-3 {
  background-image: url(Content/3.ศูนย์แสดงโชร์สัตว์จ.ภูเก็ต/4.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-5-3 {
  background-image: url(Content/3.ศูนย์แสดงโชร์สัตว์จ.ภูเก็ต/5.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-6-3 {
  background-image: url(Content/3.ศูนย์แสดงโชร์สัตว์จ.ภูเก็ต/6.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-7-3 {
  background-image: url(Content/3.ศูนย์แสดงโชร์สัตว์จ.ภูเก็ต/7.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-8-3 {
  background-image: url(Content/3.ศูนย์แสดงโชร์สัตว์จ.ภูเก็ต/8.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-9-3 {
  background-image: url(Content/3.ศูนย์แสดงโชร์สัตว์จ.ภูเก็ต/9.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-10-3 {
  background-image: url(Content/3.ศูนย์แสดงโชร์สัตว์จ.ภูเก็ต/10.jpg);
  background-size: cover;
  background-position: center;
}

/* 4. Ramintra34 */

.carousel-image-1-4 {
  background-image: url(Content/4.รามอินทรา34/1.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-2-4 {
  background-image: url(Content/4.รามอินทรา34/2.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-3-4 {
  background-image: url(Content/4.รามอินทรา34/3.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-4-4 {
  background-image: url(Content/4.รามอินทรา34/4.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-5-4 {
  background-image: url(Content/4.รามอินทรา34/5.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-6-4 {
  background-image: url(Content/4.รามอินทรา34/6.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-7-4 {
  background-image: url(Content/4.รามอินทรา34/7.jpg);
  background-size: cover;
  background-position: center;
}

/* 5. RCA */

.carousel-image-1-5 {
  background-image: url(Content/5.งานตกแต่งRCA/1.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-2-5 {
  background-image: url(Content/5.งานตกแต่งRCA/2.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-3-5 {
  background-image: url(Content/5.งานตกแต่งRCA/3.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-4-5 {
  background-image: url(Content/5.งานตกแต่งRCA/4.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-5-5 {
  background-image: url(Content/5.งานตกแต่งRCA/5.jpg);
  background-size: cover;
  background-position: center;
}

/* 6. Chonburi */

.carousel-image-1-6 {
  background-image: url(Content/6.บางละมุงจ.ชลบุรี/1.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-2-6 {
  background-image: url(Content/6.บางละมุงจ.ชลบุรี/2.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-3-6 {
  background-image: url(Content/6.บางละมุงจ.ชลบุรี/3.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-4-6 {
  background-image: url(Content/6.บางละมุงจ.ชลบุรี/4.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-5-6 {
  background-image: url(Content/6.บางละมุงจ.ชลบุรี/5.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-6-6 {
  background-image: url(Content/6.บางละมุงจ.ชลบุรี/6.jpg);
  background-size: cover;
  background-position: center;
}

/* 7. Tiwanon44 */

.carousel-image-1-7 {
  background-image: url(Content/7.ติวานนท์44/1.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-2-7 {
  background-image: url(Content/7.ติวานนท์44/2.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-3-7 {
  background-image: url(Content/7.ติวานนท์44/3.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-4-7 {
  background-image: url(Content/7.ติวานนท์44/4.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-5-7 {
  background-image: url(Content/7.ติวานนท์44/5.jpg);
  background-size: cover;
  background-position: center;
}

/* 8. Ramintra117 */

.carousel-image-1-8 {
  background-image: url(Content/8.ทาวน์โฮมรามอินทรา117/1.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-2-8 {
  background-image: url(Content/8.ทาวน์โฮมรามอินทรา117/2.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-3-8 {
  background-image: url(Content/8.ทาวน์โฮมรามอินทรา117/3.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-4-8 {
  background-image: url(Content/8.ทาวน์โฮมรามอินทรา117/4.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-5-8 {
  background-image: url(Content/8.ทาวน์โฮมรามอินทรา117/5.jpg);
  background-size: cover;
  background-position: center;
}

/* 9. Pinklao */

.carousel-image-1-9 {
  background-image: url(Content/9.ร้านน้ำชาจีนปิ่นเกล้า/1.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-2-9 {
  background-image: url(Content/9.ร้านน้ำชาจีนปิ่นเกล้า/2.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-3-9 {
  background-image: url(Content/9.ร้านน้ำชาจีนปิ่นเกล้า/3.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-4-9 {
  background-image: url(Content/9.ร้านน้ำชาจีนปิ่นเกล้า/4.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-5-9 {
  background-image: url(Content/9.ร้านน้ำชาจีนปิ่นเกล้า/5.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-6-9 {
  background-image: url(Content/9.ร้านน้ำชาจีนปิ่นเกล้า/6.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-7-9 {
  background-image: url(Content/9.ร้านน้ำชาจีนปิ่นเกล้า/7.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-8-9 {
  background-image: url(Content/9.ร้านน้ำชาจีนปิ่นเกล้า/8.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-9-9 {
  background-image: url(Content/9.ร้านน้ำชาจีนปิ่นเกล้า/9.jpg);
  background-size: cover;
  background-position: center;
}

/* 10. ChinaPinklao */

.carousel-image-1-10 {
  background-image: url(Content/10.ภัตตาคารจีนไท่ฉางปิ่นเกล้า/1.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-2-10 {
  background-image: url(Content/10.ภัตตาคารจีนไท่ฉางปิ่นเกล้า/2.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-3-10 {
  background-image: url(Content/10.ภัตตาคารจีนไท่ฉางปิ่นเกล้า/3.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-4-10 {
  background-image: url(Content/10.ภัตตาคารจีนไท่ฉางปิ่นเกล้า/4.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-5-10 {
  background-image: url(Content/10.ภัตตาคารจีนไท่ฉางปิ่นเกล้า/5.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-6-10 {
  background-image: url(Content/10.ภัตตาคารจีนไท่ฉางปิ่นเกล้า/6.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-7-10 {
  background-image: url(Content/10.ภัตตาคารจีนไท่ฉางปิ่นเกล้า/7.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-8-10 {
  background-image: url(Content/10.ภัตตาคารจีนไท่ฉางปิ่นเกล้า/8.JPG);
  background-size: cover;
  background-position: center;
}

/* 11. ChinaCentral */

.carousel-image-1-11 {
  background-image: url(Content/11.ภัตตาคารจีนเซ็นทรัลสมุย/1.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-2-11 {
  background-image: url(Content/11.ภัตตาคารจีนเซ็นทรัลสมุย/2.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-3-11 {
  background-image: url(Content/11.ภัตตาคารจีนเซ็นทรัลสมุย/3.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-4-11 {
  background-image: url(Content/11.ภัตตาคารจีนเซ็นทรัลสมุย/4.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-5-11 {
  background-image: url(Content/11.ภัตตาคารจีนเซ็นทรัลสมุย/5.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-image-6-11 {
  background-image: url(Content/11.ภัตตาคารจีนเซ็นทรัลสมุย/6.JPG);
  background-size: cover;
  background-position: center;
}

.carousel-image-7-11 {
  background-image: url(Content/11.ภัตตาคารจีนเซ็นทรัลสมุย/7.JPG);
  background-size: cover;
  background-position: center;
}

/* footer */

footer {
  position: relative;
}

/* social */

#fixedsocial {
  top: 90%;
  left: 2%;
  height: 200px;
  width: 60px;
  position: fixed;
}

.facebookflat {
  background: url(FB1.png);
  height: 50px;
  width: 50px;
  transition: ease 500ms;
  background-size: 50px;
  opacity: 1;
  border-radius: 50%;
}

.facebookflat:hover {
  background: url(FB2.png);
  height: 50px;
  width: 50px;
  background-size: 60px;
  opacity: 0.5;
  transition: ease 500ms;
  border-radius: 5%;
}

/* back-top */

#btt {
  padding: 1rem 1.5rem;
  border: none;
  background-color: antiquewhite;
  color: black;
  position: fixed;
  right: 2.5rem;
  bottom: 3rem;
  height: 60px;
  width: 60px;
  border-radius: 100%;
}

#btt a {
  position: fixed;
  text-decoration: none;
  font-size: 60px;
  color: black;
  bottom: 2.1rem;
  right: 3.3rem;
}

button#btt {
  background: rgb(255, 255, 255);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 30px;
  color: black;
  border: 3px solid rgb(158, 139, 70);
}

/* .arrow {
  background: url(arrowtop.png);
  height: 50px;
  width: 50px;
  transition: ease 500ms;
  background-size: 50px;
  opacity: 1;
  border-radius: 50%;
}
 */

/* footer */

footer {
  /*   background-color: rgb(34, 39, 44); */
  background-color: rgb(34, 34, 34);
  color: antiquewhite;
  font-size: x-large;
  padding: 10% 40px 60px 40px;
}

.col-md-4 {
  margin: auto;
  padding: 0 20px;
}

.col-md-4-contact1 {
  position: relative;
  padding: 60px;
  left: 10%;
  transform: translate(-10%);
  text-align: center;
  text-shadow: rgb(128, 127, 127) 0.1em 0.1em 0.1em;
}

.col-md-4-contact1 h3 {
  font-size: 80px;
}

.col-md-4-contact2 {
  position: relative;
}
